# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Chatboot\Java-Chat-Application-Socket-Java-Swing-GUI--master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
